{{$currLang:=.Page.Lang }}
{{$langBase:=index .Site.Data $currLang}}
<section class="container">
<div class="featured-section-row featured-section-row-lighter-bg text-center">
	<h1>Co-organized by</h1>
	<div class="row">
		<div class="col-md-8 padding-bottom-20">
			<a href="https://eclipse.org/research"><img src="/images/logo/eclipse_logo.png" width="200" alt="Research@Eclipse"></a>
		</div>
		<div class="col-md-8 padding-bottom-20">

		</div>
		<div class="col-md-8 padding-bottom-20">
			<a href="https://www.ow2.org/"><img src="/images/logo/ow2.png" width="200" alt="OW2"></a>
		</div>
	</div>
</div>
</section>